.container {
  display: flex;
  align-items: center;
}
.image {
  display: block;
  max-width: 100%;
}

header {
  height: 64px;
  background-color: white;
}

.logo {
  height: 32px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 24px;
}

header nav {
  display: flex;
}

header nav li {
  display: inline;
  justify-content: space-between;
  margin-right: 16px;
}

header nav li:last-child {
  margin-right: 24px;
}

#banner {
  width: 100%;
  height: auto;
  background-color: gray;
  display: flex;
  align-items: center;
}

.banner-image {
  display: flex;
  width: 60%;
  padding: 32px 24px;
}
.banner-description h1 {
  font-size: 38px;
  font-weight: bold;
}

.banner-description p {
  font-size: 24px;
}

#main-info {
  width: 100%;
  height: auto;
  background-color: yellow;
  display: flex;
}

.main {
  display: block;
  width: 60%;
  padding: 32px 24px;

}

.information {
  width: 40%;
}

.info {
  display: flex;
  align-items: center;
}

.info-image {
  width: 35%;
  height: auto;
}

.info-description {
  width: 65%;
}
#academy-courses {
  width: 100%;
  height: auto;
  background-color: green;
}

#academy-courses h2 {
  padding-top: 32px;
  display: flex;
  align-items: center;
  font-size: 34px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  padding: 72px 32px;
}

#exhibits {
  width: 100%;
  height: auto;
  background-color: blue;
}
