.container {
  display: flex;
  align-items: center;
}
.image {
  display: block;
  max-width: 100%;
}

header {
  height: 64px;
  background-color: white;
}

.logo {
  height: 32px;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 24px;
}

header nav {
  display: flex;
}

header nav li {
  display: inline;
  justify-content: space-between;
  margin-right: 16px;
}

header nav li:last-child {
  margin-right: 24px;
}

#banner {
  width: 100%;
  height: auto;
  background-color: gray;
}

.banner-image {
  display: flex;
  width: 60%;
  padding: 32px 24px;
}

/*.banner-image img {
  display: block;
  max-width: 100%;*/
}

 .banner-description {
   align-items: center;
 }

.banner-description h1 {
  font-size: 38px;
}
